{% extends "layout.html" %}

{% block pageTitle %}
We need more information – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}


{% block beforeContent %}
<!-- phase banner starts-->
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
  tag: {
    text: "beta"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}
<!--phase banner ends-->

<!-- Back starts-->
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
<!--Back ends -->
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-5">
<!-- heading starts-->
<!--<span class="govuk-caption-l">ORGANISATION NAME</span>-->
<h1 class="govuk-heading-l">Was your organisation required to publish a modern slavery statement on its website in 2021?</h1>
<!-- heading ends-->

<!-- summary table start-->
{{ govukSummaryList({
  rows: [
    {
      key: {
        text: "You have answered"
      },
      value: {
        text: "Yes"
      },
      actions: {
        items: [
          {
            href: "S12-2-NoSelection",
            text: "Change",
            visuallyHiddenText: "name"
          }
        ]
      }
    }
  ]
}) }}
<!-- summary table ends-->
</div>
<div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-5">
  <p>If you don't know whether your organisation was required to publish a modern slavery statement, <a href="#">refer to the guidance (opens in new window)</a>.</p>

<!-- CTA starts-->
<div class="govuk-button-group">
  {{ govukButton({
    text: "Continue",
    href: "../6r_MSSR-complete"
  }) }}
  <a class="govuk-link" href="../6r_MSSR-complete">Skip this</a>
</div>
<!-- CTA ends-->
    </div>
  </div>

{% endblock %}
