{% extends "layout.html" %}

{% block pageTitle %}
FY question – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}


{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <!-- Error summary start -->
      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: [
          {
            text: "Invalid financial end year date",
            href: "#financial-end-date"
          }
        ]
      }) }}
  <!-- Error summary end -->

      <h1 class="govuk-heading-l govuk-!-margin-bottom-5">What is your financial year dates for the statement 2022?</h1>
      <span class="govuk-caption-l govuk-!-margin-bottom-5">For the Modern slavery statement 2022, your financial year-end date falls between 1 July 2021 and 30 June 2022</span>
      <br/>
      <form class="form" action="/4_before_you_start" method="post">

<!-- new FY Start date start -->
{{ govukDateInput({
  id: "financial-start-date",
  namePrefix: "[FStartDate]",
  fieldset: {
    legend: {
      text: "Financial year start date",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--m"
    }
  },
  items: [
      {
        name: "day",
        classes: "govuk-input--width-2",
        value: 21
      },
      {
        name: "month",
        classes: "govuk-input--width-2",
        value: 03
      },
      {
        name: "year",
        classes: "govuk-input--width-4",
        value: 2021
      }
    ]
}) }}
<!-- new FY Start date end -->

<!-- new FY End date start -->
{{ govukDateInput({
  id: "financial-end-date",
  namePrefix: "[FEndDate]",
  fieldset: {
    legend: {
      text: "financial year-end date",
      classes: "govuk-fieldset__legend--m"
    }
  },
  errorMessage: {
    text: "Supplied date matches the 2021 statement. If you want to add a statement for 2021 then please go back and select the year 2021 to start your statement"
  },
  items: [
      {
        name: "day",
        classes: "govuk-input--width-2 govuk-input--error",
        value: 20
      },
      {
        name: "month",
        classes: "govuk-input--width-2 govuk-input--error",
        value: 03
      },
      {
        name: "year",
        classes: "govuk-input--width-4 govuk-input--error",
        value: 2022
      }
    ]
}) }}
<!-- new FY End date end -->


<!--Button start
<button class="govuk-button" data-module="govuk-button">Continue</button>
Button ends-->

{{ govukButton({
  text: "Continue",
  href: "#"
}) }}


      </form>

    </div>
  </div>

{% endblock %}
