{% extends "layout.html" %}

{% block pageTitle %}
FY question – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}


{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-m">Your financial year-end should fall between July 1st 2021 and June 30th 2022 for the modern slavery statement 2022.</h1> 
      
      <p class="govuk-body">Please go back to the Organisation page, read the information in the table and proceed with a statement year accordingly.</p>
         {{ govukButton({
           text: "Back to Organisation page",
           href: "/2_org_page"
         }) }}
         <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
         <h1 class="govuk-heading-m">Your financial year-end should fall between July 1st 2021 and June 30th 2022 for the modern slavery statement 2022.</h1> 
         <p class="govuk-body">You can calculate the Statement submission year by adding 6 months to the date of your financial year-end as the Home Office expects statements to be published within six months of the organisation’s financial year end.</p>
         <p class="govuk-body">Go back to the organisation page and read the guidance in the table to proceed with the correct registry year for your modern slavery statement submission.</p>
            {{ govukButton({
              text: "Back to Organisation page",
              href: "/2_org_page"
            }) }}







    </div>
  </div>
{% endblock %}
