{% extends "layout.html" %}

{% block pageTitle %}
FY question – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}


{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
   <h1 class="govuk-heading-l govuk-!-margin-bottom-5">Please go back to the Organisation page and select a different statement year</h1> 
   <p class="govuk-body">In order to submit your slavery statement for 2022, your financial year end should falls between between July 1st 2021 and June 30th 2022.</p>
      {{ govukButton({
        text: "Back to Organisation page",
        href: "/2_org_page"
      }) }}


    </div>
  </div>

{% endblock %}
