{% extends "layout.html" %}

{% block pageTitle %}
FY question – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<!-- phase banner starts-->
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
  tag: {
    text: "beta"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}
<!--phase banner ends-->

<!-- Back starts-->
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
<!--Back ends -->
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l govuk-!-margin-bottom-5">Upload statement related documents</h1>
      <span class="govuk-caption-l govuk-!-margin-bottom-5">You could only upload documents in PDF format</span>
<!--File upload start-->
{% from "govuk/components/file-upload/macro.njk" import govukFileUpload %}
{{ govukFileUpload({
  id: "file-upload-1",
  name: "file-upload-1",
  label: {
    text: "Upload a file"
  }
}) }}
<!--file upload end-->
<p class="govuk-!-margin-bottom-2">&nbsp;</p>
<!--Table start-->

{% set CTA %}
<div class="govuk-button-group govuk-!-margin-bottom-0">
  {{govukButton({
    text: "View",
    href:"/#",
    classes:"govuk-button--secondary"
  }) }}
  <a class="govuk-link" href="#">Delete</a>
</div>
{% endset %}

{% from "govuk/components/table/macro.njk" import govukTable %}
{{ govukTable({
  caption: "Documents uploaded (3)",
  captionClasses: "govuk-table__caption--m",
  firstCellIsHeader: true,
  head: [
    {
      text: "File name"
    },
    {
      text: "Actions"
    }
  ],
  rows: [
    [
      {
        text: "ABC-SlaveryStat-3.pdf"
      },
      {
        html:CTA 
      }
    ],
    [
    {
      text: "ABC-SlaveryStat-2.pdf"
    },
    {
      html:CTA 
    }
    ],
    [
    {
      text: "ABC-SlaveryStat-1.pdf"
    },
    {
      html:CTA 
    }
    ]
  ]
}) }}
<!--Table ends-->


<!--CTA start-->
{% from "govuk/components/button/macro.njk" import govukButton %}
<div class="govuk-button-group">
  {{ govukButton({
    text: "Save and continue",
    href: "/6_S1_2-4_MSSR"
  }) }}
  <a class="govuk-link" href="#">Skip this question</a>
</div>
<!--CTA end-->


      <!--  <button class="govuk-button" data-module="govuk-button">Continue</button> -->

      </form>

    </div>
  </div>

{% endblock %}
